<!-- <ngx-gallery [options]="galleryOptions" [images]="galleryImages"></ngx-gallery> -->
  <div class="container my-4">
      <div class="row">
          <div class="col-4 mt-3">
              <div class="card" >
                  <img src="../../assets/images/dog2_1.png" class="card-img-top">
                  <div class="card-body">
                    <h4 class="card-title">Title</h4>
                    <p class="card-text">Details Of the Dog</p>
                    <button   routerLink="/pet-details"  type="button" class="btn btn-success">Adopt</button>
                  </div>
                </div>
          </div>
          <div class="col-4 mt-3">
            <div class="card">
                <img src="../../assets/images/dog3_1.png" class="card-img-top">
                <div class="card-body">
                  <h4 class="card-title">Title</h4>
                  <p class="card-text">Details Of the Dog</p>
                  <button type="button" class="btn btn-success">Adopt</button>
                </div>
              </div>
        </div>
          <div class="col-4 mt-3">
              <div class="card">
                  <img src="../../assets/images/cat1_1.png" class="card-img-top">
                  <div class="card-body">
                    <h4 class="card-title">Title</h4>
                    <p class="card-text">Details Of the Dog</p>
                    <button type="button" class="btn btn-success">Buy</button>
                  </div>
                </div>
          </div>
          <div class="col-4 mt-3">
            <div class="card">
                <img src="../../assets/images/cat2_1.png" class="card-img-top">
                <div class="card-body">
                  <h4 class="card-title">Title</h4>
                  <p class="card-text">Details Of the Dog</p>
                  <button type="button" class="btn btn-success">Buy</button>
                </div>
              </div>
        </div>
          <div class="col-4 mt-3">
              <div class="card">
                  <img src="../../assets/images/bird1.jpeg" class="card-img-top">
  
                  <div class="card-body">
                    <h4 class="card-title">Title</h4>
                    <p class="card-text">Details Of the Dog</p>
                    <button type="button" class="btn btn-success">Adopt</button>
                  </div>
                </div>
          </div>
          <div class="col-4 mt-3">
            <div class="card">
                <img src="../../assets/images/bird2.jpeg" class="card-img-top">

                <div class="card-body">
                  <h4 class="card-title">Title</h4>
                  <p class="card-text">Details Of the Dog</p>
                  <button type="button" class="btn btn-success">Adopt</button>
                </div>
              </div>
        </div>

          <div class="col-4 mt-3">
              <div class="card">
                  <img src="../../assets/images/rabbit1.jpeg" class="card-img-top">
  
                  <div class="card-body">
                    <h4 class="card-title">Title</h4>
                    <p class="card-text">Details Of the dog</p>
                    <button type="button" class="btn btn-success">Buy</button>
                  </div>
                </div>
          </div>
          <div class="col-4 mt-3">
            <div class="card">
                <img src="../../assets/images/dog4_1.png" class="card-img-top">

                <div class="card-body">
                  <h4 class="card-title">Title</h4>
                  <p class="card-text">Details Of the Dog</p>
                  <button type="button" class="btn btn-success">Adopt</button>
                </div>
              </div>
        </div>
      </div>
  </div>
  