<!-- <ngx-gallery [options]="galleryOptions" [images]="galleryImages"></ngx-gallery> -->
  <div class="container my-4 mt-4">
    <div class="text-right">
      <label>Sort By:</label>
    <select>
      <option>Distance</option>
      <option>Price</option>
      <option>Gender</option>
    </select>
    </div>

      <div class="row">
          <div class="col-4 mt-3">
              <div class="card" >
                  <img src="../../assets/images/dog2_1.png" class="card-img-top">
                  <div class="card-body">
                    <h4 class="card-title">Diamond</h4>
                    <!-- <p class="card-text">Details Of the Dog</p> -->
                    <button  type="button" class="btn btn-success">Adopt</button>
                  </div>
                </div>
          </div>
     
          <div class="col-4 mt-3">
              <div class="card">
                  <img src="../../assets/images/cat1_1.png" class="card-img-top">
                  <div class="card-body">
                    <h4 class="card-title">Kenzie</h4>
                    <!-- <p class="card-text">Details Of the Dog</p> -->
                    <button type="button" class="btn btn-success">Buy</button>
                  </div>
                </div>
          </div>
          <div class="col-4 mt-3">
            <div class="card">
                <img src="../../assets/images/cat2_1.png" class="card-img-top">
                <div class="card-body">
                  <h4 class="card-title">Alter</h4>
                  <!-- <p class="card-text">Details Of the Dog</p> -->
                  <button type="button" class="btn btn-success" routerLink="/order">Buy</button>
                </div>
              </div>
        </div>
          <div class="col-4 mt-3">
              <div class="card">
                  <img src="../../assets/images/bird1.jpeg" class="card-img-top">
  
                  <div class="card-body">
                    <h4 class="card-title">Blue</h4>
                    <!-- <p class="card-text">Details Of the Dog</p> -->
                    <button type="button" class="btn btn-success">Adopt</button>
                  </div>
                </div>
          </div>
          <div class="col-4 mt-3">
            <div class="card">
                <img src="../../assets/images/bird2.jpeg" class="card-img-top">

                <div class="card-body">
                  <h4 class="card-title">Pirate</h4>
                  <!-- <p class="card-text">Details Of the Dog</p> -->
                  <button type="button" class="btn btn-success">Adopt</button>
                </div>
              </div>
        </div>

          <div class="col-4 mt-3">
              <div class="card">
                  <img src="../../assets/images/rabbit1.jpeg" class="card-img-top">
  
                  <div class="card-body">
                    <h4 class="card-title">Leopold</h4>
                    <!-- <p class="card-text">Details Of the dog</p> -->
                    <button type="button" class="btn btn-success">Buy</button>
                  </div>
                </div>
          </div>
          <div class="col-4 mt-3" (click)=Show()>
            <div class="card">
                <img src="../../assets/images/dog4_1.png" class="card-img-top">

                <div class="card-body">
                  <h4 class="card-title">Boulder</h4>
                  <!-- <p class="card-text">Details Of the Dog</p> -->
                  <button type="button" class="btn btn-success">Adopt</button>
                </div>
              </div>
        </div>
        <div class="col-4 mt-3" routerLink="/pet-details">
          <div class="card" >
              <img src="../../assets/images/dog3_1.png" class="card-img-top">
              <div class="card-body">
                <h4 class="card-title">Melo</h4>
                <!-- <p class="card-text">Details Of the Dog</p> -->
                <a  href="/pet-details" type="button" class="btn btn-success">Buy</a>
              </div>
            </div>
      </div>
      </div>
  </div>
  