<div id="demo" class="carousel slide my-5" data-ride="carousel">
    <!-- The slideshow -->
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="../../assets/images/dog5_1.png" alt="Los Angeles">
        </div>
        <div class="carousel-item">
            <img src="../../assets/images/dog5_2.png" alt="Chicago">
        </div>
     
    </div>

    <!-- Left and right controls -->
    <a class="carousel-control-prev" href="#demo" data-slide="prev">
        <span class="carousel-control-prev-icon"></span>
    </a>
    <a class="carousel-control-next" href="#demo" data-slide="next">
        <span class="carousel-control-next-icon"></span>
    </a>

    <ul class="list-unstyled icons d-flex mt-2">
        <li data-target="#demo" data-slide-to="0" class="active">
            <img src="../../assets/images/dog5_1.png" alt="Los Angeles">
        </li>
        <li data-target="#demo" data-slide-to="1" class="mx-2">
            <img src="../../assets/images/dog5_2.png" alt="Chicago">
        </li>
    </ul>
</div>

<div class="details-wrapper">
    <div class="text-right mb-2">
        <button type="button" routerLink="/order"  class="btn btn-success">Buy</button>
    </div>

    <h2>Alex</h2>
    <ul class="list-unstyled">
        <li class="row">
            <span class="col-3">BREED</span> <span class="col-9">Shepherd, German
            </span>
        </li>
        <li class="row">
            <span class="col-3">SEX</span> <span class="col-9">Female</span>
        </li>
        <li class="row">
            <span class="col-3">AGE</span> <span class="col-9">10Y/3M/4W
            </span>
        </li>
        <li class="row">
            <span class="col-3">LOCATION</span> <span class="col-9">East Village, 10


            </span>
        </li>
        <li class="row">
            <span class="col-3">Price</span> <span class="col-9">200$
            </span>
        </li>
    </ul>
    <p>This loyal girl is looking for a home with no other animals and possibly a home with older children. In typical GSD fashion, she has a ton of energy and is ready for a hiking buddy and someone to throw the tennis ball FOREVER!

        She is currently in a training program with Pawtastic Friends so that she will be the ultimate addition to your family.</p>
</div>