<div class="post-new-ad center-form">
    <form onsubmit="return false;" id="post-new-form" class="error">
        <div class="title">Post new ad</div>
        <!--<div class="warn-box"><span class="fa fa-warning"></span>Are you scammer?. Don't waste your time here. We will block your ads.</div>-->
        <div class="field-container"><input type="text" id="post-ad-title" maxlength="70" name="title"
                placeholder="Enter ad title" autocomplete="off"><span class="fa fa-edit"></span><span
                class="succ-bar"></span><span class="error-bar"></span><span class="error-msg">Please enter title
                between 10 to 50 characters</span></div>
        <div class="field-container"><select id="post-ad-pet" name="p_c_id" class="pets-list" data-default="1"
                data-target="post-ad-breed" autocomplete="off">
                <option value="">Select Pet</option>
                <option value="1">Puppies</option>
                <option value="2">Cats</option>
                <option value="3">Birds</option>
                <option value="4">Horses</option>
                <option value="5">Fishes</option>
                <option value="6">Amphibians</option>
                <option value="7">Reptiles</option>
                <option value="8">Rabbits</option>
                <option value="9">Rodents</option>
                <option value="10">Animals</option>
            </select><span class="fa fa-paw"></span><span class="succ-bar"></span><span class="error-bar"></span><span
                class="error-msg">Please select pet</span></div>
        <div class="field-container error">
            <div class="hide" id="content-select-breed">Select Breed</div><select id="post-ad-breed" class="breeds-list"
                name="p_s_id" autocomplete="off" data-default="0">
                <option value="">Select Breed</option>
                <option value="1">Abruzzenhund</option>
                <option value="19">Affenpinscher</option>
                <option value="37">Afghan Hound</option>
                <option value="2">Africanis</option>
                <option value="20">Aidi</option>
                <option value="38">Airedale Terrier</option>
                <option value="3">Akbash Dog</option>
                <option value="21">Akita</option>
                <option value="39">Akita Inu</option>
                <option value="4">Alangu Mastiff</option>
                <option value="22">Alano Espanol</option>
                <option value="40">Alapaha Blue Blood Bulldog</option>
                <option value="5">Alaskan Husky</option>
                <option value="23">Alaskan Klee Kai</option>
                <option value="41">Alaskan Malamute</option>
                <option value="6">Alaunt</option>
                <option value="24">Alopekis</option>
                <option value="42">Alpine Dachsbracke</option>
                <option value="7">American Bulldog</option>
                <option value="5862">American Bully</option>
                <option value="25">American Cocker Spaniel</option>
                <option value="43">American English Coonhound</option>
                <option value="8">American Eskimo Dog</option>
                <option value="26">American Foxhound</option>
                <option value="44">American Hairless Terrier</option>
                <option value="9">American Mastiff</option>
                <option value="5875">American Molossus</option>
                <option value="5889">American Morkshire Terrier</option>
                <option value="27">American Pit Bull Terrier</option>
                <option value="45">American Staffordshire Terrier</option>
                <option value="10">American Staghound</option>
                <option value="28">American Water Spaniel</option>
                <option value="46">Anatolian Shepherd</option>
                <option value="11">Anglo-Francais de Petite Venerie</option>
                <option value="29">Anglo-Francais-Petite De Venerie</option>
                <option value="47">Antebellum Bulldog</option>
                <option value="12">Appenzell Mountain Dog</option>
                <option value="30">Argentine Dogo</option>
                <option value="48">Ariege Pointer</option>
                <option value="13">Ariegeois</option>
                <option value="31">Artois Hound</option>
                <option value="49">Askal</option>
                <option value="14">Atlas Terrier</option>
                <option value="5864">Aussie Doodles</option>
                <option value="5865">Aussie Poo</option>
                <option value="32">Austrailian Blue Heeler</option>
                <option value="50">Australian Bulldog</option>
                <option value="15">Australian Cattle Dog</option>
                <option value="33">Australian Collie</option>
                <option value="51">Australian Kelpie</option>
                <option value="16">Australian Red Heeler</option>
                <option value="34">Australian Shepherd</option>
                <option value="52">Australian Silky Terrier</option>
                <option value="17">Australian Stumpy Tail Cattle Dog</option>
                <option value="35">Australian Terrier</option>
                <option value="53">Austrian Black and Tan Hound</option>
                <option value="18">Austrian Pinscher</option>
                <option value="36">Azawakh</option>
                <option value="54">Bagel Hound </option>
                <option value="82">Bakharwal Dog</option>
                <option value="110">Bandog</option>
                <option value="55">Bantam Bulldog</option>
                <option value="83">Barbet</option>
                <option value="111">Basenji</option>
                <option value="56">Basque Shepherd</option>
                <option value="84">Basset Artesien Normand</option>
                <option value="112">Basset Bleu de Gascogne</option>
                <option value="57">Basset Fauve de Bretagne</option>
                <option value="85">Basset Hound</option>
                <option value="113">Bavarian Mountain Hound</option>
                <option value="5885">Beabull</option>
                <option value="58">Beagador</option>
                <option value="86">Beagle</option>
                <option value="114">Beagle-Harrier</option>
                <option value="5876">Beaglier</option>
                <option value="59">Beago</option>
                <option value="87">Bearded Collie</option>
                <option value="115">Beauceron</option>
                <option value="60">Bedlington Terrier</option>
                <option value="88">Belgian Griffon</option>
                <option value="116">Belgian Shepherd</option>
                <option value="61">Belgian Shepherd Dog (Groenendael)</option>
                <option value="89">Belgian Shepherd Dog (Laekenois)</option>
                <option value="117">Belgian Shepherd Dog (Malinois)</option>
                <option value="62">Belgian Shepherd Dog (Tervuren)</option>
                <option value="90">Bergamasco</option>
                <option value="118">Berger Blanc Suisse</option>
                <option value="63">Berger Picard</option>
                <option value="5868">Bernedoodle</option>
                <option value="91">Bernese Mountain Dog</option>
                <option value="119">Bichon Bolognese</option>
                <option value="64">Bichon Frise</option>
                <option value="92">Bichonpoo</option>
                <option value="120">Biewer</option>
                <option value="65">Billy</option>
                <option value="93">Bisben</option>
                <option value="94">Black Mouth Cur</option>
                <option value="122">Black Norwegian Elkhound</option>
                <option value="67">Black Russian Terrier</option>
                <option value="121">Black and Tan Coonhound</option>
                <option value="66">Black and Tan Terrier</option>
                <option value="95">Bloodhound</option>
                <option value="123">Blue Healer</option>
                <option value="68">Blue Lacy</option>
                <option value="96">Blue Paul Terrier</option>
                <option value="124">Blue Picardy Spaniel</option>
                <option value="69">Bluetick Beagle</option>
                <option value="97">Bluetick Coonhound</option>
                <option value="125">Boerboel</option>
                <option value="70">Bohemian Shepherd</option>
                <option value="98">Bolognese</option>
                <option value="126">Borador</option>
                <option value="71">Border Collie</option>
                <option value="99">Border Terrier</option>
                <option value="5881">Bordoodle</option>
                <option value="127">Borzoi</option>
                <option value="72">Bosnian Coarse-Haired Hound</option>
                <option value="100">Bospin</option>
                <option value="128">Boston Terrier</option>
                <option value="73">Bouvier des Flandres</option>
                <option value="101">Boxer</option>
                <option value="129">Boykin Spaniel</option>
                <option value="74">Bracco Italiano</option>
                <option value="75">Braque Francais</option>
                <option value="103">Braque Francais (Gascogne Type)</option>
                <option value="131">Braque Francais (Pyrenean Type)</option>
                <option value="76">Braque Saint-Germain</option>
                <option value="102">Braque d'Auvergne</option>
                <option value="130">Braque du Bourbonnais</option>
                <option value="104">Brazilian Terrier</option>
                <option value="132">Briard</option>
                <option value="77">Briquet Griffon Vendeen</option>
                <option value="105">Brittany</option>
                <option value="133">Broholmer</option>
                <option value="78">Brug</option>
                <option value="106">Brussels Griffon</option>
                <option value="134">Bugg</option>
                <option value="79">Bulgarian Shepherd</option>
                <option value="135">Bull Arab</option>
                <option value="80">Bull Terrier</option>
                <option value="108">Bull Terrier Miniature</option>
                <option value="107">Bull and Terrier</option>
                <option value="136">Bullenbeisser</option>
                <option value="81">Bullmastiff</option>
                <option value="109">Bully Kutta</option>
                <option value="137">Cabecudo Boiadeiro</option>
                <option value="158">Cairland Terrier</option>
                <option value="178">Cairn Terrier</option>
                <option value="138">Canaan Dog</option>
                <option value="159">Canadian Eskimo Dog</option>
                <option value="179">Canadian Pointer</option>
                <option value="139">Cane Corso</option>
                <option value="160">Canis Panther</option>
                <option value="141">Cao Fila de Sao Miguel</option>
                <option value="180">Cao da Serra de Aires</option>
                <option value="140">Cao de Castro Laboreiro</option>
                <option value="161">Cao de Fila da Terceira</option>
                <option value="181">Cao de Gado Transmontano</option>
                <option value="162">Cardigan Welsh Corgi</option>
                <option value="182">Carlin Pinscher</option>
                <option value="142">Carolina Dog</option>
                <option value="163">Carpatin</option>
                <option value="183">Catahoula Bulldog</option>
                <option value="143">Catahoula Cur</option>
                <option value="164">Catahoula Leopard</option>
                <option value="184">Catalan Sheepdog</option>
                <option value="144">Caucasian Shepherd</option>
                <option value="5890">Cava Tzu</option>
                <option value="165">Cavachon</option>
                <option value="185">Cavalier King Charles Spaniel</option>
                <option value="145">Cavapoo</option>
                <option value="166">Central Anatolian Shepherd</option>
                <option value="186">Central Asian Shepherd</option>
                <option value="146">Cesky Fousek</option>
                <option value="167">Cesky Terrier</option>
                <option value="187">Chart Polski</option>
                <option value="147">Chesapeake Bay Retriever</option>
                <option value="168">Chiapom</option>
                <option value="188">Chihuahua</option>
                <option value="148">Chilean Fox Terrier</option>
                <option value="169">Chinese Chongqing Dog</option>
                <option value="189">Chinese Crested Dog</option>
                <option value="149">Chinese Shar Pei</option>
                <option value="170">Chinook</option>
                <option value="190">Chipoo</option>
                <option value="150">Chippiparai</option>
                <option value="171">Chiweenie</option>
                <option value="191">Chorkie</option>
                <option value="151">Chow Chow</option>
                <option value="172">Chug</option>
                <option value="192">Ciobanesc de Bucovina</option>
                <option value="152">Circassian Orloff Wolfhound</option>
                <option value="173">Cirneco dell'Etna</option>
                <option value="193">Clumber Spaniel</option>
                <option value="153">Cockachon</option>
                <option value="5882">Cockalier</option>
                <option value="174">Cockapoo</option>
                <option value="5863">Collie</option>
                <option value="194">Combai</option>
                <option value="154">Coonhound</option>
                <option value="175">Cordoba Fighting Dog</option>
                <option value="195">Corgi</option>
                <option value="155">Coton De Tulear</option>
                <option value="176">Cretan Hound</option>
                <option value="196">Croatian Sheepdog</option>
                <option value="156">Curly Coated Retriever</option>
                <option value="177">Cypro Kukur</option>
                <option value="197">Cyprus Poodle</option>
                <option value="157">Czechoslovakian Wolfdog</option>
                <option value="198">Dachshund</option>
                <option value="206">Dalmador</option>
                <option value="214">Dalmatian</option>
                <option value="199">Damchi</option>
                <option value="207">Dandie Dinmont Terrier</option>
                <option value="215">Danish Broholmer</option>
                <option value="200">Danish Swedish Farmdog</option>
                <option value="208">Deutsch Drahthaar</option>
                <option value="216">Dingo</option>
                <option value="201">Doberman Pinscher</option>
                <option value="209">Dogo Cubano</option>
                <option value="217">Dogo Guatemalteco</option>
                <option value="202">Dogo Sardesco</option>
                <option value="210">Dogue De Bordeaux</option>
                <option value="218">Dorgi</option>
                <option value="203">Dorkie</option>
                <option value="5887">Double Doodle</option>
                <option value="211">Double-Nosed Andean Tiger Hound</option>
                <option value="219">Doxiepom</option>
                <option value="204">Doxiepoo</option>
                <option value="212">Drentse Patrijshond</option>
                <option value="220">Drever</option>
                <option value="205">Dunker</option>
                <option value="213">Dutch Shepherd</option>
                <option value="221">Dutch Smoushond</option>
                <option value="222">East European Shepherd</option>
                <option value="229">East German Shepherd</option>
                <option value="236">East Siberian Laika</option>
                <option value="223">Elo</option>
                <option value="230">English Bulldog</option>
                <option value="237">English Cocker Spaniel</option>
                <option value="224">English Coonhound</option>
                <option value="231">English Foxhound</option>
                <option value="238">English Mastiff</option>
                <option value="225">English Pointer</option>
                <option value="232">English Setter</option>
                <option value="239">English Shepherd</option>
                <option value="226">English Springer Spaniel</option>
                <option value="233">English Toy Terrier (Black &amp; Tan)</option>
                <option value="240">English Water Spaniel</option>
                <option value="227">English White Terrier</option>
                <option value="234">Entlebucher Mountain Dog</option>
                <option value="241">Estonian Hound</option>
                <option value="228">Estrela Mountain Dog</option>
                <option value="235">Eurasier</option>
                <option value="242">Eurohound</option>
                <option value="243">Feist</option>
                <option value="249">Fell Terrier</option>
                <option value="255">Field Spaniel</option>
                <option value="244">Fila Brasileiro</option>
                <option value="250">Finnish Hound</option>
                <option value="256">Finnish Lapphund</option>
                <option value="245">Finnish Spitz</option>
                <option value="251">Flat-Coated Retriever</option>
                <option value="257">Formosan Mountain Dog</option>
                <option value="246">Fox Terrier</option>
                <option value="252">Fox Terrier (Smooth)</option>
                <option value="258">Francais Blanc et Noir</option>
                <option value="247">Francais Blanc et Orange</option>
                <option value="253">Franzuskaya Bolonka</option>
                <option value="259">French Brittany</option>
                <option value="248">French Bulldog</option>
                <option value="254">French Spaniel</option>
                <option value="5871">Fruggle</option>
                <option value="260">Gaddi Kutta</option>
                <option value="274">Galgo Espanol</option>
                <option value="288">Gawii</option>
                <option value="261">German Coolie</option>
                <option value="275">German Longhaired Pointer</option>
                <option value="289">German Pinscher</option>
                <option value="262">German Shepherd</option>
                <option value="276">German Shorthaired Pointer</option>
                <option value="290">German Spaniel</option>
                <option value="263">German Spitz (Klein)</option>
                <option value="277">German Spitz (Mittel)</option>
                <option value="291">German Wirehaired Pointer</option>
                <option value="5873">Giant Maso Mastiff</option>
                <option value="264">Giant Schnauzer</option>
                <option value="278">Glen of Imaal Terrier</option>
                <option value="292">Goldador</option>
                <option value="265">Golden Doodle</option>
                <option value="279">Golden Retriever</option>
                <option value="293">Goldendoodle</option>
                <option value="266">Gordon Setter</option>
                <option value="280">Gran Mastin de Borinquen</option>
                <option value="294">Grand Anglo-Francais Blanc et Noir</option>
                <option value="267">Grand Anglo-Francais Blanc et Orange</option>
                <option value="281">Grand Anglo-Francais Tricolore</option>
                <option value="295">Grand Basset Griffon Vendeen</option>
                <option value="268">Grand Bleu de Gascogne</option>
                <option value="282">Grand Gascon Saintongeois</option>
                <option value="296">Grand Griffon Vendeen</option>
                <option value="269">Great Dane</option>
                <option value="283">Great Pyrenees</option>
                <option value="297">Greater Swiss Mountain Dog</option>
                <option value="270">Greek Harehound</option>
                <option value="284">Greek Sheepdog</option>
                <option value="298">Greenland Dog</option>
                <option value="271">Greyhound</option>
                <option value="285">Griffon Bleu de Gascogne</option>
                <option value="299">Griffon Fauve de Bretagne</option>
                <option value="272">Griffon Nivernais</option>
                <option value="286">Guejae Gae</option>
                <option value="300">Gull Dong</option>
                <option value="273">Gull Terr</option>
                <option value="287">Gully Terrier</option>
                <option value="301">Hairless Khala</option>
                <option value="308">Haldenstovare</option>
                <option value="315">Hamiltonstovare</option>
                <option value="302">Hanover Hound</option>
                <option value="309">Harlequin Pinscher</option>
                <option value="316">Harrier</option>
                <option value="303">Havanese</option>
                <option value="5886">Havapoo</option>
                <option value="310">Hawaiian Poi Dog</option>
                <option value="317">Hellenic Hound</option>
                <option value="304">Hermes Bulldogge</option>
                <option value="311">Himalayan Mastiff</option>
                <option value="318">Himalayan Sheepdog</option>
                <option value="305">Hokkaido</option>
                <option value="312">Hortaya Borzaya</option>
                <option value="319">Hovawart</option>
                <option value="306">Hungarian Hound</option>
                <option value="313">Hungarian Vizsla</option>
                <option value="320">Hungarian Wirehaired Vizsla</option>
                <option value="307">Huntaway</option>
                <option value="314">Hygenhund</option>
                <option value="321">Ibizan Hound</option>
                <option value="327">Icelandic Sheepdog</option>
                <option value="332">Indian Bull Terrier</option>
                <option value="5861">Indian Pariah Dog</option>
                <option value="322">Indian Spitz</option>
                <option value="328">Irish Bull Terrier</option>
                <option value="5879">Irish Doodles</option>
                <option value="333">Irish Jack Russell</option>
                <option value="323">Irish Mastiff Hound</option>
                <option value="329">Irish Red and White Setter</option>
                <option value="334">Irish Setter</option>
                <option value="324">Irish Staffordshire Bull Terrier</option>
                <option value="330">Irish Terrier</option>
                <option value="335">Irish Water Spaniel</option>
                <option value="325">Irish Wolfhound</option>
                <option value="331">Istarski Ostrodlaki Gonic</option>
                <option value="336">Istrian Sheepdog</option>
                <option value="326">Italian Greyhound</option>
                <option value="337">Jack Russell Terrier</option>
                <option value="340">Jagdterrier</option>
                <option value="343">Jamthund</option>
                <option value="338">Japanese Chin</option>
                <option value="341">Japanese Spitz</option>
                <option value="344">Japanese Terrier</option>
                <option value="339">Jindo</option>
                <option value="342">Jonangi</option>
                <option value="345">Jug</option>
                <option value="346">Kai Ken</option>
                <option value="354">Kaikadi</option>
                <option value="361">Kangal Dog</option>
                <option value="347">Kanni</option>
                <option value="355">Karelian Bear Dog</option>
                <option value="362">Karelo-Finnish Laika</option>
                <option value="348">Kars Dog</option>
                <option value="356">Keeshond</option>
                <option value="363">Kerry Beagle</option>
                <option value="349">Kerry Blue Terrier</option>
                <option value="357">King Charles Spaniel</option>
                <option value="364">Kintamani</option>
                <option value="350">Kishu</option>
                <option value="358">Komondor</option>
                <option value="365">Kooikerhondje</option>
                <option value="351">Koolie</option>
                <option value="359">Korean Mastiff</option>
                <option value="366">Kromfohrlander</option>
                <option value="352">Kunming Dog</option>
                <option value="360">Kuri</option>
                <option value="367">Kuvasz</option>
                <option value="353">Kyi-Leo</option>
                <option value="368">Labradoodle</option>
                <option value="375">Labrador Husky</option>
                <option value="381">Labrador Retriever</option>
                <option value="369">Lagotto Romagnolo</option>
                <option value="376">Lakeland Terrier</option>
                <option value="382">Lancashire Heeler</option>
                <option value="370">Lapponian Herder</option>
                <option value="377">Large Munsterlander</option>
                <option value="383">Latvian Hound</option>
                <option value="371">Leonberger</option>
                <option value="378">Lhasa Apso</option>
                <option value="384">Lhasapoo</option>
                <option value="372">Lithuanian Hound</option>
                <option value="379">Long Haired Chihuahua</option>
                <option value="385">Longhaired Weimaraner</option>
                <option value="373">Lottatore Brindisino</option>
                <option value="380">Lowchen</option>
                <option value="386">Lucas Terrier</option>
                <option value="374">Lurcher</option>
                <option value="387">Mackenzie River Husky</option>
                <option value="399">Magyar Agar</option>
                <option value="411">Majestic Tree Hound</option>
                <option value="388">Mal-Shi</option>
                <option value="400">Maltese</option>
                <option value="412">Malti-Pom</option>
                <option value="389">Maltipoo</option>
                <option value="401">Manchester Terrier</option>
                <option value="413">Maremma Sheepdog</option>
                <option value="390">Martin Mosa Mastiff</option>
                <option value="402">McNab</option>
                <option value="414">Meliteo Kinidio</option>
                <option value="391">Mexican Hairless</option>
                <option value="5884">Mini Sheepadoodles</option>
                <option value="403">Miniature Australian Shepherd</option>
                <option value="415">Miniature Dachshund</option>
                <option value="392">Miniature English Bulldog</option>
                <option value="404">Miniature Fox Terrier</option>
                <option value="416">Miniature Pinscher</option>
                <option value="393">Miniature Poodle</option>
                <option value="405">Miniature Schnauzer</option>
                <option value="417">Miniature Siberian Husky</option>
                <option value="394">Mioritic Sheepdog</option>
                <option value="406">Mixed</option>
                <option value="418">Molossus</option>
                <option value="395">Morkie</option>
                <option value="407">Moscow Guard dog</option>
                <option value="419">Moscow Watchdog</option>
                <option value="396">Moscow Water Dog</option>
                <option value="408">Mountain Burmese</option>
                <option value="420">Mountain Cur</option>
                <option value="5870">Mountain Feist</option>
                <option value="397">Mountain View Cur</option>
                <option value="409">Mucuchies</option>
                <option value="421">Mudhol Hound</option>
                <option value="398">Mudi</option>
                <option value="410">Muggin</option>
                <option value="422">Native American Indian Dog</option>
                <option value="428">Neapolitan Mastiff</option>
                <option value="434">Nebolish Mastiff</option>
                <option value="423">Neilmut (Neil Laing)</option>
                <option value="429">Nenets Herding Laika</option>
                <option value="435">New Guinea Singing Dog</option>
                <option value="424">New Zealand Huntaway</option>
                <option value="430">Newfoundland Dog</option>
                <option value="436">Norfolk Terrier</option>
                <option value="425">Norrbottenspets</option>
                <option value="431">North Country Beagle</option>
                <option value="437">Northeastern Sleigh Dog</option>
                <option value="426">Northern Inuit Dog</option>
                <option value="432">Norwegian Buhund</option>
                <option value="438">Norwegian Elkhound</option>
                <option value="427">Norwegian Lundehund</option>
                <option value="433">Norwich Terrier</option>
                <option value="439">Nova Scotia Duck-Tolling Retriever</option>
                <option value="440">Old Danish Pointer</option>
                <option value="443">Old English Bulldog</option>
                <option value="446">Old English Sheepdog</option>
                <option value="441">Old English Terrier</option>
                <option value="444">Olde English Bulldogge</option>
                <option value="447">Osterreichischer Kurzhaariger Pinscher</option>
                <option value="442">Other</option>
                <option value="445">Otterhound</option>
                <option value="448">Pachon Navarro</option>
                <option value="465">Pandikona</option>
                <option value="482">Papillon</option>
                <option value="449">Parson Russell Terrier</option>
                <option value="466">Pastor Garafiano</option>
                <option value="483">Patterdale Terrier</option>
                <option value="450">PekePoo</option>
                <option value="467">Pekingese</option>
                <option value="484">Pembroke Welsh Corgi</option>
                <option value="451">Perdiguero de Burgos</option>
                <option value="468">Perro Cimarron</option>
                <option value="485">Perro de Pastor Mallorquin</option>
                <option value="452">Perro de Presa Canario</option>
                <option value="469">Perro de Presa Mallorquin</option>
                <option value="486">Perro de Toro</option>
                <option value="453">Peruvian Hairless</option>
                <option value="470">Petit Basset Griffon Vendeen</option>
                <option value="487">Petit Bleu de Gascogne</option>
                <option value="454">Petit Gascon Saintongeois</option>
                <option value="471">Phalene</option>
                <option value="488">Pharaoh Hound</option>
                <option value="5897">Phu Quoc Ridgeback</option>
                <option value="455">Phung San</option>
                <option value="472">Picardy Spaniel</option>
                <option value="5894">Pitsky</option>
                <option value="489">Plott Hound</option>
                <option value="456">Plummer Terrier</option>
                <option value="473">Podenco Andaluz</option>
                <option value="490">Podenco Canario</option>
                <option value="457">Podenco Galego</option>
                <option value="474">Polish Hound</option>
                <option value="491">Polish Hunting Dog</option>
                <option value="458">Polish Lowland Sheepdog</option>
                <option value="475">Polish Tatra Sheepdog</option>
                <option value="492">Pomeranian</option>
                <option value="5866">Pomsky</option>
                <option value="459">Pont-Audemer Spaniel</option>
                <option value="476">Poodle</option>
                <option value="493">Porcelaine</option>
                <option value="460">Portuguese Podengo</option>
                <option value="477">Portuguese Pointer</option>
                <option value="494">Portuguese Water Dog</option>
                <option value="461">Posavac Hound</option>
                <option value="478">Prazsky Krysarik</option>
                <option value="5860">Presa Canario</option>
                <option value="495">Pudelpointer</option>
                <option value="462">Pug</option>
                <option value="479">Pugalier</option>
                <option value="496">Puggle</option>
                <option value="463">Pugnaces Britanniae</option>
                <option value="480">Puli</option>
                <option value="497">Pumi</option>
                <option value="464">Pungsan Dog</option>
                <option value="5869">Pyredoodle</option>
                <option value="481">Pyrenean Mastiff</option>
                <option value="498">Pyrenean Shepherd</option>
                <option value="499">Queensland Heeler</option>
                <option value="500">Rafeiro do Alentejo</option>
                <option value="507">Rajapalayam</option>
                <option value="514">Rampur Greyhound</option>
                <option value="501">Rat Terrier</option>
                <option value="508">Ratonero Bodeguero Andaluz</option>
                <option value="515">Ratonero Dog</option>
                <option value="502">Red Heeler</option>
                <option value="509">Redbone Coonhound</option>
                <option value="516">Renascence Bulldogge</option>
                <option value="503">Rhodesian Ridgeback</option>
                <option value="510">Rottweiler</option>
                <option value="517">Rough Collie</option>
                <option value="504">Russell Terrier</option>
                <option value="511">Russian Harlequin Hound</option>
                <option value="518">Russian Hound</option>
                <option value="505">Russian Setter</option>
                <option value="512">Russian Spaniel</option>
                <option value="519">Russian Toy Terrier</option>
                <option value="506">Russo-European Laika</option>
                <option value="513">Ryukyu Inu</option>
                <option value="520">Saarlooswolfhond</option>
                <option value="546">Sabueso Espanol</option>
                <option value="572">Sage Koochee</option>
                <option value="521">Sakhalin Husky</option>
                <option value="547">Saluki</option>
                <option value="573">Samoyed</option>
                <option value="522">Sanshu</option>
                <option value="548">Santal Hound</option>
                <option value="574">Sapsali</option>
                <option value="523">Sarplaninac</option>
                <option value="549">Schapendoes</option>
                <option value="575">Schillerstovare</option>
                <option value="524">Schipperke</option>
                <option value="550">Schnauzer</option>
                <option value="576">Schnauzerdoodledor</option>
                <option value="525">Schnauzerdor</option>
                <option value="551">Schnoodle</option>
                <option value="577">Schnorkie</option>
                <option value="526">Schweenie</option>
                <option value="552">Schweizer Laufhund</option>
                <option value="578">Schweizer Niederlaufhund</option>
                <option value="527">Scoland Terrier</option>
                <option value="553">Scotch Collie</option>
                <option value="579">Scotland Terrier</option>
                <option value="528">Scottish Deerhound</option>
                <option value="554">Scottish Terrier</option>
                <option value="580">Sealyham Terrier</option>
                <option value="529">Segugio Italiano</option>
                <option value="555">Seppala Siberian Sleddog</option>
                <option value="581">Serbian Hound</option>
                <option value="530">Serbian Mountain Hound</option>
                <option value="556">Serbian Tricolour Hound</option>
                <option value="5895">Sheepadoodle</option>
                <option value="582">Shepard Labrador</option>
                <option value="531">Shepherd Husky</option>
                <option value="557">Shetland Sheepdog</option>
                <option value="583">Shiba Inu</option>
                <option value="532">Shih Tzu</option>
                <option value="558">Shih-Poo</option>
                <option value="584">Shikoku</option>
                <option value="533">Shiloh Shepherd</option>
                <option value="559">Shorkie</option>
                <option value="585">Siberian Husky</option>
                <option value="534">Silken Windhound</option>
                <option value="560">Silky Terrier</option>
                <option value="586">Sindh Mastiff</option>
                <option value="535">Skye Terrier</option>
                <option value="561">Sloughi</option>
                <option value="587">Slovak Cuvac</option>
                <option value="536">Slovakian Hound</option>
                <option value="562">Slovakian Rough Haired Pointer</option>
                <option value="588">Slovensky Hrubosrsty Stavac</option>
                <option value="537">Smalandsstovare</option>
                <option value="563">Small Munsterlander</option>
                <option value="589">Smithfield</option>
                <option value="538">Smooth Collie</option>
                <option value="564">Smooth Haired Weimaraner</option>
                <option value="590">Snorkie</option>
                <option value="539">Snowfur Longsnout</option>
                <option value="565">Soft-Coated Wheaten Terrier</option>
                <option value="591">South Russian Ovcharka</option>
                <option value="540">Southern Hound</option>
                <option value="566">Spanish Mastiff</option>
                <option value="592">Spanish Pointer</option>
                <option value="541">Spanish Water Dog</option>
                <option value="567">Spinone Italiano</option>
                <option value="593">Spitz</option>
                <option value="542">St. Bernard</option>
                <option value="568">St. John's Water Dog</option>
                <option value="594">Stabyhoun</option>
                <option value="543">Staffordshire Bull Terrier</option>
                <option value="5880">Standard Poodle</option>
                <option value="569">Standard Schnauzer</option>
                <option value="595">Stephens Stock</option>
                <option value="544">Styrian Coarse Haired Hound</option>
                <option value="570">Sulimov</option>
                <option value="596">Sussex Spaniel</option>
                <option value="545">Swedish Lapphund</option>
                <option value="571">Swedish Vallhund</option>
                <option value="597">Swiss Shorthaired Pinscher</option>
                <option value="598">Tahltan Bear Dog</option>
                <option value="610">Taigan</option>
                <option value="622">Tainaker</option>
                <option value="599">Taino Dog</option>
                <option value="611">Talbot</option>
                <option value="623">Tamaskan</option>
                <option value="600">Tasy</option>
                <option value="612">Taylor Terrier</option>
                <option value="624">Tea Cup Chihuahua</option>
                <option value="601">Teddy Roosevelt Terrier</option>
                <option value="613">Telomian</option>
                <option value="625">Tenterfield Terrier</option>
                <option value="602">Thai Bangkaew</option>
                <option value="614">Thai Hairless</option>
                <option value="626">Thai Ridgeback</option>
                <option value="603">Tibetan Kyi Apso</option>
                <option value="615">Tibetan Mastiff</option>
                <option value="627">Tibetan Spaniel</option>
                <option value="604">Tibetan Terrier</option>
                <option value="616">Tornjak</option>
                <option value="628">Tosa</option>
                <option value="605">Toy Australian Shepherd</option>
                <option value="617">Toy Bulldog</option>
                <option value="629">Toy Fox Terrier</option>
                <option value="606">Toy Manchester Terrier</option>
                <option value="618">Toy Mi-Ki</option>
                <option value="630">Toy Poodle</option>
                <option value="607">Toy Schnauzer</option>
                <option value="619">Treeing Cur</option>
                <option value="631">Treeing Tennessee Brindle</option>
                <option value="608">Treeing Walker Coonhound</option>
                <option value="620">Tsvetnaya Bolonka</option>
                <option value="632">Turnspit Dog</option>
                <option value="609">Tweed Water Spaniel</option>
                <option value="621">Tyrolean Hound</option>
                <option value="633">Utonagan</option>
                <option value="634">Valley Bulldog</option>
                <option value="636">Vikhan Sheepdog</option>
                <option value="637">Vizsla</option>
                <option value="635">Volpino Italiano</option>
                <option value="638">Walker Hound</option>
                <option value="644">Weimaraner</option>
                <option value="650">Welsh Corgi</option>
                <option value="639">Welsh Sheepdog</option>
                <option value="645">Welsh Springer Spaniel</option>
                <option value="651">Welsh Terrier</option>
                <option value="640">West Highland White Terrier</option>
                <option value="646">West Siberian Laika</option>
                <option value="652">Westphalian Dachsbracke</option>
                <option value="641">Wetterhoun</option>
                <option value="5872">Wheaten Terrier</option>
                <option value="647">Whippet</option>
                <option value="653">White Schnauzer</option>
                <option value="642">White Shepherd</option>
                <option value="5874">Whoodles</option>
                <option value="648">Winston Olde English Bulldogge</option>
                <option value="654">Wire Fox Terrier</option>
                <option value="643">Wire Haired Fox Terrier</option>
                <option value="649">Wirehaired Pointing Griffon</option>
                <option value="5867">Wolfdog</option>
                <option value="655">Yo-Chon</option>
                <option value="657">Yochon</option>
                <option value="659">Yoranian</option>
                <option value="656">YorkiePoo</option>
                <option value="658">Yorkillon</option>
                <option value="660">Yorkshire Terrier</option>
            </select><span class="fa fa-table"></span><span class="succ-bar"></span><span class="error-bar"></span><span
                class="error-msg">Please select breed</span>
        </div>
        <div class="field-container"><input type="text" id="post-ad-price" maxlength="10" name="price"
                placeholder="Enter Price (Optional)" autocomplete="off"><span class="fa fa-money"></span><label
                class="currency" for="post-ad-price">USD</label><span class="succ-bar"></span><span
                class="error-bar"></span><span class="error-msg">Please enter valid amount</span></div>
        <div class="field-container auto"><textarea id="post-ad-desc" name="desc" maxlength="5000" class="txt-area"
                placeholder="Please enter long unique description" autocomplete="off"></textarea><span
                class="succ-bar"></span><span class="error-bar"></span><span class="error-msg">Minimum 50
                characters</span></div>
        <div class="server-error hide" id="post-ad-server-error"></div>
        <div class="primary-btn"><a href="#" id="post-new-ad-submit"><span class="label">Submit</span></a></div>
    </form>
</div>