<div id="demo" class="carousel slide my-5" data-ride="carousel">
    <!-- The slideshow -->
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="../../assets/images/bird1.jpeg" alt="Los Angeles">
        </div>
        <div class="carousel-item">
            <img src="../../assets/images/bird2.jpeg" alt="Chicago">
        </div>
        <div class="carousel-item">
            <img src="../../assets/images/dog.jpeg" alt="New York">
        </div>
    </div>

    <!-- Left and right controls -->
    <a class="carousel-control-prev" href="#demo" data-slide="prev">
        <span class="carousel-control-prev-icon"></span>
    </a>
    <a class="carousel-control-next" href="#demo" data-slide="next">
        <span class="carousel-control-next-icon"></span>
    </a>

    <ul class="list-unstyled icons d-flex mt-2">
        <li data-target="#demo" data-slide-to="0" class="active">
            <img src="../../assets/images/bird1.jpeg" alt="Los Angeles">
        </li>
        <li data-target="#demo" data-slide-to="1" class="mx-2">
            <img src="../../assets/images/bird2.jpeg" alt="Chicago">
        </li>
        <li data-target="#demo" data-slide-to="2">
            <img src="../../assets/images/dog.jpeg" alt="New York">
        </li>
    </ul>
</div>

<div class="details-wrapper">
    <div class="text-right mb-2">
        <button type="button"  class="btn btn-success">Buy</button>
    </div>

    <h2>Name</h2>
    <ul class="list-unstyled">
        <li class="row">
            <span class="col-3">BREED</span> <span class="col-9">Terrier, American Pit Bull</span>
        </li>
        <li class="row">
            <span class="col-3">SEX</span> <span class="col-9">Male</span>
        </li>
        <li class="row">
            <span class="col-3">AGE</span> <span class="col-9">16Y/2M/2W
            </span>
        </li>
        <li class="row">
            <span class="col-3">LOCATION</span> <span class="col-9">Oldies But Goodies, Living Rooms</span>
        </li>
    </ul>
    <p>I am a handsome man for sure. I mean come on, have you seen a nugget more handsome at almost 16 years young? My
        sister and I have lost everything and just want someone to love us unconditionally. That is the only way we know
        how to love. My sister's name is Princess. She is here with me too but we do not have to be adopted together. I
        would really like to meet you so you can foster or adopt me. Please click Apply</p>
</div>