.carousel {
    width: 500px;
    margin: auto;
.carousel-inner {
  img {
      height: 400px;
      width: 100%;
  } 
}
.icons {

img {
    width: 100px;
    height: 100px;
}
}

}

.details-wrapper 
{
    width: 500px;
margin: auto;
}