<div id="demo" class="carousel slide my-5" data-ride="carousel">
    <!-- The slideshow -->
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="../../assets/images/dog3_1.png" alt="Los Angeles">
        </div>
        <div class="carousel-item">
            <img src="../../assets/images/dog3_2.png" alt="Chicago">
        </div>
        <div class="carousel-item">
            <img src="../../assets/images/dog3_3.png" alt="New York">
        </div>
    </div>

    <!-- Left and right controls -->
    <a class="carousel-control-prev" href="#demo" data-slide="prev">
        <span class="carousel-control-prev-icon"></span>
    </a>
    <a class="carousel-control-next" href="#demo" data-slide="next">
        <span class="carousel-control-next-icon"></span>
    </a>

    <ul class="list-unstyled icons d-flex mt-2">
        <li data-target="#demo" data-slide-to="0" class="active">
            <img src="../../assets/images/dog3_1.png" alt="Los Angeles">
        </li>
        <li data-target="#demo" data-slide-to="1" class="mx-2">
            <img src="../../assets/images/dog3_2.png" alt="Chicago">
        </li>
        <li data-target="#demo" data-slide-to="2">
            <img src="../../assets/images/dog3_3.png" alt="New York">
        </li>
    </ul>
</div>

<div class="details-wrapper">
    <div class="text-right mb-2">
        <button type="button" routerLink="/order"  class="btn btn-success">Buy</button>
    </div>

    <h2>Melo</h2>
    <ul class="list-unstyled">
        <li class="row">
            <span class="col-3">BREED</span> <span class="col-9">American Pit Bull Terrier</span>
        </li>
        <li class="row">
            <span class="col-3">SEX</span> <span class="col-9">Male</span>
        </li>
        <li class="row">
            <span class="col-3">AGE</span> <span class="col-9">3Y
            </span>
        </li>
        <li class="row">
            <span class="col-3">LOCATION</span> <span class="col-9">525 E Armour Blvd,Kansas City,M0-64109
            </span>
        </li>
        <li class="row">
            <span class="col-3">Price</span> <span class="col-9">250$
            </span>
        </li>
    </ul>
    <p>Melo is a quite and peaceful dog</p>
</div>