<div id="demo" class="carousel slide my-5" data-ride="carousel">
    <!-- The slideshow -->
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="../../assets/images/dog3_1.png" alt="Los Angeles">
        </div>
        <div class="carousel-item">
            <img src="../../assets/images/dog3_2.png" alt="Chicago">
        </div>
        <div class="carousel-item">
            <img src="../../assets/images/dog3_3.png" alt="New York">
        </div>
    </div>

    <!-- Left and right controls -->
    <a class="carousel-control-prev" href="#demo" data-slide="prev">
        <span class="carousel-control-prev-icon"></span>
    </a>
    <a class="carousel-control-next" href="#demo" data-slide="next">
        <span class="carousel-control-next-icon"></span>
    </a>

    <ul class="list-unstyled icons d-flex mt-2">
        <li data-target="#demo" data-slide-to="0" class="active">
            <img src="../../assets/images/dog3_1.png" alt="Los Angeles">
        </li>
        <li data-target="#demo" data-slide-to="1" class="mx-2">
            <img src="../../assets/images/dog3_2.png" alt="Chicago">
        </li>
        <li data-target="#demo" data-slide-to="2">
            <img src="../../assets/images/dog3_3.png" alt="New York">
        </li>
    </ul>
</div>

<div class="details-wrapper">
    <div class="text-right mb-2">
        <button type="button" routerLink="/order"  class="btn btn-success">Adopt</button>
    </div>

    <h2>Melo</h2>
    <ul class="list-unstyled">
        <li class="row">
            <span class="col-3">BREED</span> <span class="col-9">Terrier, American Pit Bull / Cattle Dog, Australian (Red Heeler)</span>
        </li>
        <li class="row">
            <span class="col-3">SEX</span> <span class="col-9">Male</span>
        </li>
        <li class="row">
            <span class="col-3">AGE</span> <span class="col-9">10Y/3M/4W
            </span>
        </li>
        <li class="row">
            <span class="col-3">LOCATION</span> <span class="col-9">Foster Home
            </span>
        </li>
        <li class="row">
            <span class="col-3">Price</span> <span class="col-9">0$
            </span>
        </li>
    </ul>
    <p>Melo is a sweet boy looking for someone to love him. He needs to be the only animal in the home but that is because he knows he deserves to be loved and spoiled. He loves kids but prefers them to be older. He is ready to find that home that makes him part of the family. Fill out an application to meet this handsome guy</p>
</div>