<div class="banner-img">
  <div class="container">
    <div class="row justify-content-center">
        <div class="col-12 text-center" style="padding-top:10px;">
            <div class="row">
                <div class="intro-info col-lg-7 center-block" style="margin:0;">
                    <h1 class="text-white">Adoptable Dogs</h1>
                    <p class="lead">
                    </p>
                    <div>
          <a routerLink="/seller"  class="btn-get-started scrollto">Sell/Adopt</a>
          <a routerLink="/buyer"  class="btn-services scrollto">Buy</a>
        </div>                        </div>
            </div>
        </div>
    </div>
</div>

</div>
<div class="container my-4">
    <div class="row">
        <div class="col-4 mt-3">  
            <div class="card" routerLink="/pet-detail">
                <img src="../../assets/images/dog5_1.png" class="card-img-top">
                <div class="card-body">
                  <h4 class="card-title">Alex</h4>
                </div>
              </div>
        </div>
        <div class="col-4 mt-3">
            <div class="card">
                <img src="../../assets/images/cat1_1.png" class="card-img-top">
                <div class="card-body">
                  <h4 class="card-title">Kenzie</h4>
                </div>
              </div>
        </div>
        <div class="col-4 mt-3">
            <div class="card">
                <img src="../../assets/images/rabbit1.jpeg" class="card-img-top">

                <div class="card-body">
                  <h4 class="card-title">Leopold</h4>
                </div>
              </div>
        </div>
        <div class="col-4 mt-3">
            <div class="card">
                <img src="../../assets/images/bird1.jpeg" class="card-img-top">

                <div class="card-body">
                  <h4 class="card-title">Blue</h4>
                </div>
              </div>
        </div>
    </div>
</div>
