
<nav class="navbar navbar-expand-sm bg-dark navbar-dark justify-content-between align-items-center">
  <a routerLink="/home">
    <img src="https://images-workbench.99static.com/UDCieIG998JwvtmGqzTJOUlkzPg=/99designs-contests-attachments/86/86134/attachment_86134555" class="logo">
  </a>

  <h2 class="text-white m-0">Pet Place</h2>
    <!-- Links -->
      <ul class="navbar-nav float-right">
        <li class="nav-item d-flex align-items-center text-white">
          <span class="fa fa-user"></span>
          <a class="nav-link" routerLink="/login">Login</a>
        </li> 
      </ul>
    </nav>